<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Flashcard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/create.css">
    <link rel="stylesheet" href="../static/w3.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="../static/jquery.flip.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link href="../static/coppy-part/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../static/coppy-part/css/font-awesome-animation.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/homepage.css">

</head>
<body>
    <div class="container page-content2 " >
        <a href="{{ url_for('id',id=id) }}" class="btn btn-primary">My Homepage</a>
        <a href="{{ url_for('create',id=id) }}" class="btn btn-primary">Create Flashcards</a>
        <a href="{{ url_for('learn',id=id) }}" class="btn btn-primary">My Flashcards</a>
    </div>
    <br>

    <div class="page-content2 ">

		<div class="flexsearch--wrapper2">
			<form class="" action="#" method="post">
                <form method="post">
                    <div class="flexsearch--input-wrapper w3-row">
					    <input class="flexsearch--input2 w3-text-black" type="text" name="search" placeholder="look up for words">
                    </div>
                </form>
			</form>
		</div>

    </div>


    <div class="container page-content ">
            <div class="row">
{#                <div class="col-md-4 col-sm-6 col-xs-12 item-card">#}
{#                    <div id="" class="flip">#}
{#                        <div class="card front" id="turn-back" class="btn btn-primary turn-back" >#}
{#                            <div class="face">#}
{#                                <h3>Front</h3>#}
{#                                <div class="cta-group">#}
{#                                    <img id="imgsrc" class="img-preview" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ4HtGsoVnca1_8HtSqWOEquwOhWAREUe_rkFzFpTgOfr9E2IwRBqxBNg" alt="your image"/>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="card back">#}
{#                            <div class="face">#}
{##}
{#                                <br>#}
{#                                <h3 >Word</h3>#}
{#                                <h3 >Meaning</h3>#}
{#                            </div>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-md-4 col-sm-6 col-xs-12 item-card">#}
{#                     <div id="" class="flip">#}
{#                         <div class="card front" id="turn-back" class="btn btn-primary turn-back" >#}
{#                            <div class="face">#}
{#                                <h3>Front</h3>#}
{#                                <div class="cta-group">#}
{#                                    <img id="imgsrc" class="img-preview" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ4HtGsoVnca1_8HtSqWOEquwOhWAREUe_rkFzFpTgOfr9E2IwRBqxBNg" alt="your image"/>#}
{#                                </div>#}
{#                            </div>#}
{#                         </div>#}
{#                         <div class="card back ">#}
{#                                <div class="face">#}
{#                                    <br>#}
{#                                    <h3 >Word</h3>#}
{#                                    <h3 >Meaning</h3>#}
{#                                </div>#}
{#                         </div>#}
{#                     </div>#}
{#                </div>#}

                {% for flashcard in flashcard_list %}
                    <div id="flashcard_{{ flashcard.id }}" class="col-md-4 col-sm-6 col-xs-12 item-card ">
                        <a href="/update?user_id={{ id }}&card_id={{ flashcard.id }}">
                            <button  class="btn btn-success">Edit</button>
                        </a>
                        <a href="/delete?user_id={{ id }}&card_id={{ flashcard.id }}">
                            <button onlick="removeFlashcard(flashcard_{{ flashcard.id }})" class="btn btn-success">Delete</button>
                        </a>
                        <div class="flip">
                            <div class="card front " id="turn-back" class="btn btn-primary turn-back" >
                                <div class="face">
                                    <h3>Front</h3>
                                    <div class="cta-group ">
                                        <img id="imgsrc" class="img-preview" src="{{ flashcard.image }}" alt="your image"/>
                                    </div>
                                </div>
                            </div>
                            <div class="card back">
                                <div class="face">
                                    <br>
                                    <h3>word : {{ flashcard.word }}</h3>
                                    <h3>meaning : {{ flashcard.meaning }}</h3>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                {% endfor %}
            </div>
    </div>

    <script>
        $(".flip").flip();
        function removeFlashcard(flashcard){
            $(flashcard).remove();
        }
    </script>

</body>
</html>